<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion Usuario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body data-controller="manage-users">
<div class="container mt-5">
  <h1 class="text-center">Gestión de Usuarios</h1>
  <a href="<%= dashboard_path %>" class="btn btn-primary">Volver al Dashboard</a>

  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Lista de usuarios</h4>
      <button class="btn btn-sm btn-primary w-auto px-4 ms-3" data-bs-toggle="modal" data-bs-target="#userModalAdd">Agregar
        usuario
      </button>
    </div>
    <div class="card-body">
      <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha de alta</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody data-manage-users-target="bodyTable">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userModalAdd" tabindex="-1" aria-labelledby="userModalLabelAdd" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabelAdd">Agregar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form data-action="submit->manage-users#addUser" data-manage-users-target="addForm">
            <div class="mb-3">
              <label for="userNameAdd" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="userNameAdd" placeholder="Ingrese el nombre" required>
            </div>
            <div class="mb-3">
              <label for="userLastNameAdd" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="userLastNameAdd" placeholder="Ingrese el apellido" required>
            </div>
            <div class="mb-3">
              <label for="userEmailAdd" class="form-label">Email</label>
              <input type="text" class="form-control" id="userEmailAdd" placeholder="Ingrese el email" required>
            </div>
            <div class="mb-3">
              <label for="userPasswordAdd" class="form-label">Contraseña</label>
              <input type="text" class="form-control" id="userPasswordAdd" placeholder="Ingrese la contraseña" required>
            </div>
            <div class="mb-3">
              <label for="userRoleAdd" class="form-label">Rol</label>
              <select class="form-select" id="userRoleAdd" required>
                <option value="1">Admin</option>
                <option value="2">Cliente</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userModalEdit" tabindex="-1" aria-labelledby="userModalLabelEdit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabelEdit">Editar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form data-action="submit->manage-users#editUser" data-manage-users-target="editForm">
            <div class="mb-3">
              <label for="userIdEdit" class="form-label">ID</label>
              <input type="text" class="form-control" id="userIdEdit" readonly>
            </div>
            <div class="mb-3">
              <label for="userNameEdit" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="userNameEdit" placeholder="Ingrese el nombre" required>
            </div>
            <div class="mb-3">
              <label for="userLastNameEdit" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="userLastNameEdit" placeholder="Ingrese el apellido" required>
            </div>
            <div class="mb-3">
              <label for="userEmailEdit" class="form-label">Email</label>
              <input type="text" class="form-control" id="userEmailEdit" placeholder="Ingrese el email" required>
            </div>
            <div class="mb-3">
              <label for="userPasswordEdit" class="form-label">Contraseña</label>
              <input type="text" class="form-control" id="userPasswordEdit" placeholder="Ingrese la contraseña" required>
            </div>
            <div class="mb-3">
              <label for="userRoleEdit" class="form-label">Rol</label>
              <select class="form-select" id="userRoleEdit" required>
                <option value="1">Admin</option>
                <option value="2">Cliente</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userModalDelete" tabindex="-1" aria-labelledby="userModalLabelDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabelDelete">Eliminar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form data-action="submit->manage-users#deleteUser" data-manage-users-target="deleteForm">
            <h3>¿Estas seguro de eliminar?</h3>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>