body{
    background-color: #f0f0f0;
}

#sidebar {
    width: 280px;
    background-color: #000000b1;
    height: 100vh;
}

.nav-element{
    background-color: #007bffcc;
    margin: 10px 0;
    border-radius: 5px;
}

